# --- 1. Sensitive Information / Credentials ---
# Exclude files containing API keys, secrets, or configuration data.

.env
client_credentials.py
tokens.json

# --- 2. Data Output Files (CSV) ---
# Exclude all generated CSV files as requested.

#*.csv
test_spotify_info.csv
test_spotify_info_with_mp3.csv

# --- 3. Python Environment & Build Files ---
# Compiled python files

*.pyc
pycache/

# Virtual environments

.env
venv/
env/
.direnv/
*.egg-info/

# --- 4. Logs and Temporary Files ---

*.log
/log/
/temp/


#other
.cache
.python-version
*.mp3
MPEG7/*
test_*/*
test*